@charset "UTF-8"

/* 共通部分 */
html {
  font-size: 100%;
}

body {
  font-family:"Zen Old Mincho", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
  line-height: 1.7;
  color: #ffff;
  background-color: #343131;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
}


/* header */
.header-container {
  display: flex;
  justify-content: space-between; /* ロゴを左、メニューを右に飛ばす */
  align-items: center;           /* 上下中央揃え */
  padding: 0 20px;               /* 画面端の余白 */
  max-width: 1200px;             /* 広がりすぎ防止 */
  margin: 0 auto;
}

/* h1の余計な余白を消しておく */
.logo-area {
  margin: 0;
  line-height: 1;
}

.page-header {
  padding-top: .5rem;
  background-color: #949491;
}

.logo-intro{
 width: 100px;
}

.main-nav {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  font-size: 1.5rem;
  list-style: none;
}

.main-nav a {
  color: #ffff;
}

.main-nav a:hover{
  color: #0e150f;
}

/* section */
.section {
  width: 100%;       
  margin: 0;        
  padding: 0;        
  overflow: hidden;  
}

.main-visual {
  display: block;    
  width: 100%;       
  height: auto;      
}

/* collection */
.collection-container{
  display:flex;
  flex-direction: column; 
  align-items: center;
  gap: 20px;
  margin-top: 60px;
}

.collection-item{
  flex: 1;
  max-width: 70%;
}
.collection-img{
  width: 100%;
}

.MUKO-p{
  text-align: center;
  font-size: 1.5rem;
}




/* footer */
.page-footer{
  text-align: center;
  padding-top: .5rem;
  background-color: #343131;
}

/* 確認 */
.footer-nav {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background-color: #343131;
}

.footer-group {
  flex: 1;
  max-width: 300px;
  text-align: left;
}

.footer-group h3 {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: #ffff;
}

.footer-links {
  list-style: none;   
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px; 
}

.footer-links a {
  text-decoration: none;
  color: #ffff;
  font-size: 0.9rem;
}


/* ここまで */



.SNS {
  padding: 2rem 0;
 display: flex;
 justify-content: space-around;
}




/* copyright */
.copyright{
  text-align: center;
  padding: 2rem 0;
  margin-top: 1rem;
  color: #ffff;
}

/* レスポンシブルデザイン */

/* 画面幅が767px以下のとき（スマホ・タブレット用） */
@media screen and (max-width: 767px) {
  
  /* メニューを縦並びにするか、文字を小さくする */
  .main-nav {
    flex-direction: column; /* 縦に並べる */
    gap: 1rem;
    font-size: 1.1rem;      /* 文字をスマホサイズに */
    padding: 0;
    text-align: center;
  }