@charset "UTF-8"


/* ----------
共通部分 
-------------*/
body{
  font-family: "Montserrat","Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  font-size: 16px;
  letter-spacing: .05em;
  color: #000000;
}

a{
  text-decoration: none;
  color: #000000
}
a:hover{
  color: #9B6E56;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}



/*----------
 サイト全体に効かせる設定
 ----------- */

.wrapper{
   /* headerのサイズに合わせてメインの始まりの場所を調整する、今は73pxにしている !!現時点でかぶってるかも修正必要!! */
  padding-top: 73px;
}

.section {
  padding: 90px 0;
}


.section:nth-of-type(odd) {
  /* 奇数だけ背景色付ける */
  background-color: #f7f7f7;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

ul {
  list-style: none;
}


/* それぞれのメニュー（目次）の装飾 */
.title {
  font-size: 22px;
  font-weight: 1000;
  line-height: 1;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: .05em;
  color: #585252;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title::before {
  content: '';
  width: 28px;  
  height: 2px;  
  background-color: #9B6E56; 
  margin-right: 15px;      
}

.title::after {
  content: '';
  width: 28px;  
  height: 2px;  
  background-color: #9B6E56; 
  margin-left: 15px;      
}


/*----------
 header 
 -----------*/

.header{
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
}

.header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.header-logo{
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  margin-right: 20px;
  letter-spacing: .05em;
}
/* ロゴだけ色少し変える */
.header-logo a{
  color: #585252;
}
.header-logo a:hover {
  color: #9B6E56;
}

/*----------
ナビゲーションメニュー
------------*/

.gnav-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
/* 最後の項目以外間に20px空ける */
.gnav-item:not(:last-child) {
  margin-right: 20px;
}

.gnav-item a {
  position: relative;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  transition: .3s;
  letter-spacing: .05em;
}

/* カーソール合わせた時に下に下線が出る仕様にする */
.gnav-item a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #000000;
}

.gnav-item a:hover:after {
  width: 100%;
}

  /*----------
   mein 
   -----------*/

.mv{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}
.mv-container{
position: relative;
padding: 0 20px;
}

.mv-container img {
  width: 100%;
  height: auto;
}


/* サイトに移動するボタン */
.view-site-container {
  margin: 80px 0; 
  text-align: center;
}
.btn-view-site{
  display: inline-block;
    padding: 20px 60px; 
     border: 1.5px solid #a67c52;
     color: #9B6E56;
     text-decoration: none;
     font-family: "serif";
     font-size: 1.2rem; 
     font-weight: 500;
     letter-spacing: 0.15em;
    position: relative;
  background: transparent;
  z-index: 1;
}
.btn-view-site:hover {
  color: #fff;
  background-color: #9B6E56;

}

/* SKILL */
.skill section{

}

#skill{

}

/* それぞれのテック */
.tech-container{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}
.tech-card{
 flex: 1;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0,0,0,0.03); /* 控えめな影 */
  transition: transform 0.3s ease;
}
.tech-num{
   font-family: "serif";
  font-size: 0.9rem;
  color: #a67c52;
  border-bottom: 1px solid #a67c52;
  display: inline-block;
  margin-bottom: 15px;
}
.tech-card h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #585252;
}

.tech-card p {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #000000;
}

/*CONCEPT */
.concept section{

}
#consept{

}

/* 来訪者 */
.works-detail{
  padding: 40px 20px;
  max-width: 900px;
  margin: 0 auto;
}
.detail-row{
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 80px;
}
.detail-row.reverse {
  flex-direction: row-reverse;
}
.detail-icon{
  width: 700px; 
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  
}

.detail-text h3 {
  font-family: "serif";
  color: #9B6E56;
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.detail-text p {
  line-height: 1.8;
  color: #000000;
}


/* こだわり詳細 */
.consept-text{
  text-align: center;
 font-size: 16px;
 line-height: 2.0;
  color: #000000;
  max-width: 600px;
  margin: 0 auto;
}

/* キャッチコピー */
.bridge-section{
 padding: 120px 20px;
  text-align: center;
  position: relative;
}


.summary-phrase{
 font-family: "serif";
  font-size: 20px;
  color: #a67c52;
  margin-bottom: 30px;
  line-height: 1.5;
}
.summary-description{
font-family: "serif";
text-align: center;
  font-size: 16px;
  color: #000000;
  margin-bottom: 30px;
  line-height: 1.5;
}


/* TOPへ戻るボタン*/
.page-top{
font-weight: bold;
padding: 10px;
cursor: pointer;
text-align: center;
background-color: #b4b4b4;
}


.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: #fff;
}

#js-page-top{

}



/* 以下JavaScriptで装飾する必要があります */
js-page-top

/*---------
 footer 
 ----------*/
.footer {
  padding: 30px;
  background-color: #333;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #797979;
}

/*----------
 スマホ用 
 ------------*/

@media (max-width: 768px) {
   body {
    font-size: 14px;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }
  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .lead {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }
 /* レイアウト */
  .wrapper {
    padding-top: 57px;
  }

  .section {
    padding: 60px 0;
  }

  .container {
    padding: 0 20px;
  }

  /* ヘッダー */
  .header .container {
    padding: 15px;
  }

  .header-logo {
    font-size: 15px;
    margin-right: 15px;
  }

  .gnav-item:not(:last-child) {
    margin-right: 10px;
  }

  .gnav-item a {
    font-size: 10px;
  }

  .gnav-item a:after {
    display: none;
  }
  /* POINT */
  .consept-text{
    font-size: 15px;
    margin-right: 15px;
  }

  /* CONCEPT */

.summary-phrase .summary-description{
    font-size: 15px;
    margin-right: 15px;
}
  /*  メインビジュアル */
  .mv {
    height: 40vh;
  }

  .mv-container {
    padding: 0 20px;
  }

 
  /* フッター */
  .footer {
    padding: 20px;
  }
}