.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #F5EEE2;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

/* main画像の幅調整 */
.main-visual , .dounyu , .benefit, .tuyomi , .sigoto , .otoiawase{
  width: 100%;    /* これで画面（親要素）の横幅いっぱいになります */
  height: auto;   /* 縦横比を崩さないために必須です */
  display: block; /* 画像の下にできる数ピクセルの隙間を消します */
}

body {
  margin: 0;
  padding: 0;
}
